# Dependencies
 /node_modules
 
 # Environment variables
 .env
 /backend/.env
 
 # Uploads
 # If you want to track uploads, remove the line below
 /uploads
 
 # Logs
 npm-debug.log*
 yarn-debug.log*
 yarn-error.log*
 
 # OS-specific
 .DS_Store
 Thumbs.db